{
  "parser": "babel-eslint",
  "extends": ["airbnb", "standard", "standard-react"],
  "rules": {
  },
  "globals": {
  },
  "env": {
    "jasmine": {
      "globals": {
        "describe": true,
        "it": true
      }
    }
  }
}
