doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='//cdn.jsdelivr.net/normalize/3.0.2/normalize.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    script(src='//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js')
    script(src='//cdn.jsdelivr.net/lodash/2.4.1/lodash.min.js')
    script(src='js/script.js')
